{% extends "home.html" %}

{% block title %}404{% endblock %}

{% block content %}
<h1>Page not Found: 404</h1>
<p>You seem to have discovered a hole in my website. You
might find yourself
<a href="{% url 'blog:detail' 'scary-thought' %}">in the dark</a>,
hopelessly lost, and looking for some kind of direction. Don't try to dig any
deeper. Instead, look to the stars, use the links above your head and claw
yourself free with every ounce of strength you have left. I can promise you
that it will be worth it.</p>
{% endblock %}
