{% extends "home.html" %}

{% block title %}emilabraham.com:About{% endblock %}

{% block content %}
<p>I am the master of the internet, captain of my domain. Here is some
<a href="http://github.com/emilabraham/">code</a> if you really want to take 
a peek.</p>
<p>Like I said earlier, there are no
<a id="secret" href="http://easteregg.emilabraham.com">secrets</a>
on this page either. But you can check out my <a href="/blog/">blog</a> if you
are really interested in what I think about.</p>
{% endblock %}
