{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>

<head>
  <style type="text/css">
    html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  </style>
  <title>{% block title %}emilabraham.com{% endblock %}</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9_0LtWTOIlnkl7tzM2L5HJPQUxXrrysQ"></script>
  <script>
  /*var xhr = new XMLHttpRequest();
  var apikey = "CB675B9A-C58E-4893-ADDE-3AD57730268C";
  xhr.open("GET", "http://www.airnowapi.org/aq/forecast/zipCode/?format=application/xml&zipCode=12309&date=2014-12-07&distance=25&API_KEY=CB675B9A-C58E-4893-ADDE-3AD57730268C", false);
  xhr.send();
  xmlDocument = xhr.responseXML;
  console.log(xmlDocument.childNodes['0'].textContent);
  console.log(xhr.status);
  console.log(xhr.statusText);*/

  //Default zipcode.
  var zip = "12345";
  var outputArray;
  var dateObserved;
  var timeObserved;
  var timezone;
  var area;
  var state;
  var latitude;
  var longitude;
  var dataType;
  var airQualityIndex;
  var level;

  //Function that makes the API call to AirNow.
  function get_zipcode_data(){
    zip = document.getElementById("userInput").value;
    $.getJSON('http://anyorigin.com/dev/get?url=http%3A//www.airnowapi.org/aq/observation/zipCode/current/%3Fformat%3Dtext/csv%26zipCode%3D'+zip+'%26distance%3D25%26API_KEY%3DCB675B9A-C58E-4893-ADDE-3AD57730268C&callback=?', function(data){
      $("div.output").html(data.contents);
      outputArray = data.contents.split(",");
      //Special case where a , is lacking
      secondArray = outputArray[10].split(" ");
      thirdArray = outputArray[20].split("\"");
      
      dateObserved = thirdArray[3];
      timeObserved = outputArray[21];
      timezone = outputArray[22];
      area = outputArray[23];
      state = outputArray[24];
      latitude = parseFloat(outputArray[25].substring(1,outputArray[25].length-1));
      longitude = parseFloat(outputArray[26].substring(1,outputArray[26].length-1));
      dataType = outputArray[27];
      airQualityIndex = outputArray[28];
      level = outputArray[30];
      initialize();
      //print_variables();
    });
   }

   function initialize() {
     var mapOptions = {
       center: { lat: latitude, lng: longitude},
       zoom: 8
     };
     var map = new google.maps.Map(document.getElementById('map-canvas'),
       mapOptions);
   } 
   //google.maps.event.addDomListener(window, 'load', initialize);

   //Function that prints initialized variables.
   function print_variables(){
     console.log("dateObserved: " + window.dateObserved);
     console.log("timeObserved: " + window.timeObserved);
     console.log("timezone: " + window.timezone);
     console.log("area: " + window.area);
     console.log("state: " + window.state);
     console.log("latitude: " + window.latitude);
     console.log("longitude: " + window.longitude);
     console.log("dataType: " + window.dataType);
     console.log("airQualityIndex: " + window.airQualityIndex);
     console.log("level: " + window.level);
   }
  </script>
</head>

<body>

  <div class="navigation">
  {% block navigation %}
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <li class="blog"><a href="/blog/">Blog</a></li> 
    <!-- <li class="gallery"><a href="/gallery/">Gallery</a></li> -->
  <ul>
  {% endblock %}
  </div>

  <div class="centertext">
  {% block content %}
    <p>Welcome to emilabraham.com! This is a terrible website.
    Don't click on any of the links. They will bore you. Nothing even remotely
    creative went into the making of this website. You can never expect anything 
    awesome in the future either. This website is bad and it will still be bad 
    if you visit tomorrow or the day after. There are no <a id="secret" href="http://easteregg.emilabraham.com">secrets</a> on this page.</p>

    <p>But here is my <a href="/booklist/">book list</a> if you are interested.</p>
  {% endblock %}
  </div>

  <!--The zipcode submission form.-->
  <div>
    Enter your Zipcode:<input type="text" id="userInput"></input>
    <button onclick="get_zipcode_data()">Submit</button>
  </div>


  <!--The output of the API call -->
  <div class="output">
  </div>
  <div id="map-canvas">
  </div>

</body>
</html>
